@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/*navbar*/

#navbar {
  background-color: var(--main-red);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
}

#navbar a {
  display: block;
  padding: 1rem 0.8rem;
  text-decoration: none;
  color: var(--main-white);
  transition: background-color 0.1s ease-in;
}

#navbar a:hover {
  background-color: var(--main-blue);
}

ul {
  list-style: none;
  display: flex;
  margin-right: 2rem;
}

li {
  font-size: 1.6rem;
}

@media (max-width: 500px) {
  #navbar {
    justify-content: center;
  }

  ul {
    margin: 0 1rem;
  }
}

/*Welcome section*/

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #000;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

.welcome-header {
  color: var(--main-white);
  font-size: 4rem;
}

#welcome-section > p {
  font-style: italic;
  color: var(--main-red);
  font-size: 2.2rem;
}

@media (max-width: 800px) {
  .welcome-header {
    font-size: 3rem;
  }
  #welcome-section > p {
    font-size: 1.5rem;
  }
}

@media (max-width: 500px) {
  .welcome-header {
    font-size: 2rem;
  }
  #welcome-section > p {
    font-size: 1rem;
  }
}

/*Projects section*/

#projects {
  background-color: var(--main-blue);
  text-align: center;
  padding: 7rem 2rem;
}

@media (max-width: 500px) {
  #projects {
    padding: 4rem 1rem;
  }
}

.project-header {
  margin: 0 auto 4rem auto;
  max-width: 600px;
  font-size: 2rem;
  color: var(--main-white);
  border-bottom: 3px solid white;
}

@media (max-width: 500px) {
  .project-header {
    font-size: 1.4rem;
  }
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
  max-width: 1280px;
  margin: 0 auto 6rem auto;
}

@media (max-width: 500px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.project-tile {
  background-color: var(--main-gray);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  text-decoration: none;
}

.project-image {
  width: 100%;
  display: block;
  object-fit: cover;
  height: calc(100% - 6rem);
}

.project-tile > p {
  font-size: 1.5rem;
  padding: 2rem 0.8rem;
  color: var(--main-white);
}

@media (max-width; 800px) {
  .project-tile > p {
    font-size: 1.3rem;
  }
}

@media (max-width: 500px) {
  .project-tile > p {
    font-size: 1.1rem;
  }
}

.code {
  color: var(--main-gray);
  transition: color 0.3s ease-out;
}

.project-tile:hover .code {
  color: var(--main-red);
}

.show-btn {
  text-decoration: none;
  color: var(--main-white);
  font-size: 1.5rem;
  background-color: var(--main-gray);
  padding: 10px 25px;
  border-radius: 3px;
  transition: background 0.3s ease-out;
}

.show-btn:hover {
  background-color: var(--main-red);
}

.show-btn > i {
  transform: translatex(0);
  transition: transform 0.3s ease-out;
}

.show-btn:hover > i {
  transform: translateX(3px);
}

/*Contact*/

#contact {
  background-color: var(--main-gray);
  width: 100%;
  height: 80vh;
  padding: 2rem auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem auto;
}

.contact-header {
  font-size: 5rem;
  color: var(--main-white);
}

.contact-section-header > p {
  font-size: 1.5rem;
  color: var(--main-white);
  font-style: italic;
}

@media (max-width: 800px) {
  .contact-header {
    font-size: 3.5rem;
  }
}

@media (max-width: 500px) {
  .contact-header {
    font-size: 2rem;
  }
  .contact-section-header > p {
    font-size: 1rem;
  }
}

.contact-section-header {
  margin-bottom: 2rem;
}

.contact-links {
  display: flex;
  flex-wrap: wrap;
  text-shadow: 2px 2px 1px #1f1f1f;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  width: 100%;
}

.contact-links > a {
  padding: 1.8rem;
  text-decoration: none;
  color: var(--main-white);
  font-size: 2rem;
}

.btn {
  transform: translateY(0);
  transition: transform 0.3s ease-out;
}

.btn:hover {
  transform: translateY(10px);
}

@media (max-width: 800px) {
  .contact-links > a {
    padding: 1.8rem;
    font-size: 1.8rem;
  }
}

@media (max-width: 500px) {
  .contact-links > a {
    padding: 1.2rem;
    font-size: 1.5rem;
  }
}

/*footer*/

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--main-gray);
  width: 100%;
  border-top: 5px solid var(--main-red);
  padding: 2rem 0;
}

footer p {
  font-size: 1rem;
  padding: 0.5rem 2rem;
  color: var(--main-white);
  text-align: center;
}

@media (max-width: 500px) {
  footer {
    flex-direction: column;
  }
}
